{% extends "layout.html" %}
{% load static %}
{% block title %}
Contacts
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1>Contact Us</h1>
            <p>Feel free to reach out to us with any questions or concerns. We are here to help you.</p>
        </div>
        <div class="text-center">
            <img src="{% static 'shop/contacts.png' %}" alt="Contact Image" class="img-fluid">
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Our Location</h2>
                <p>123 Main Street, New York, NY 10001</p>
                <h2>Phone Number</h2>
                <p>(123) 456-7890</p>
            </div>
            <div class="col-md-6">
                <h2>Email</h2>
                <p>
                    <a href="mailto:abrakadabra" class="text-dark">
                        abrakadabra
                    </a>
                </p>
                <h2>Hours of Operation</h2>
                <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

